asttokens==3.0.0
backports.tarfile==1.2.0
build==1.2.2.post1
click==8.1.8
colorama==0.4.6
decorator==5.2.1
executing==2.2.0
future==1.0.0
importlib_metadata==8.6.1
ipython==9.0.2
ipython_pygments_lexers==1.1.1
iso8601==2.1.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
keyring==25.6.0
matplotlib-inline==0.1.7
more-itertools==10.6.0
packaging==24.2
parso==0.8.4
pip-tools==7.4.1
prompt_toolkit==3.0.50
pure_eval==0.2.3
Pygments==2.19.1
pyproject_hooks==1.2.0
pyserial==3.5
python-dotenv==1.1.0
pywin32-ctypes==0.2.3
PyYAML==6.0.2
serial==0.0.97
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.13.0
wcwidth==0.2.13
zipp==3.21.0
